# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://root:N7sI4OmZ1bfcs9rUQZ0pJXYGxLbdkE4y@dpg-cnj26ji1hbls73flif00-a.oregon-postgres.render.com/quiosconext"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=codigoconjuan
NEXT_PUBLIC_CLOUDINARY_API_KEY=256269334192783
CLOUDINARY_API_SECRET=X6iuCCHUFvaGsps8REd2uy3uGHQ